  <!-- Footer -->

  <footer class="row">
  <div class="twelve columns"><hr />
      <div class="row">

        <div class="six columns">
            <p>&copy; Copyright mininiss</p>
        </div>
        <div class="two columns last">
          <a href="credits.html">powered by...</a>
        </div>
      </div>
  </div>
  </footer>

  <!-- End Footer -->


  <!-- foundation includes jQuerys -->
  <script src="javascripts/foundation.min.js"></script>
  <!-- Initialize JS Plugins -->
  <script src="javascripts/app.js"></script>

  <script src="google-code-prettify/prettify.js"></script>
  <script type="text/javascript">
    $(function(){
      prettyPrint();
    });
  </script>

  <script src="src/hoe.js"></script>
  <script>
var Calculator = hoe.Type(function(){
    // some data
    this.sum = 0;
    // reference to UI elements
    this.$sum = null;
});

// create UI
Calculator.prototype.render = function(){
   var $plus_one = button('+1');
   this.listen($plus_one, 'click', this.add_one);
   this.$sum = strong({style: "margin-left:5px"}, this.sum.toString());
   return [$plus_one, this.$sum];
};

// logic - event handler
Calculator.prototype.add_one = function(){
   // update data
   this.sum += 1;
   // update UI
   this.$sum.html(this.sum);
};

$(document).ready(function(){
  hoe.init(); // create DOM helper functions
  $('#calculator').html((new Calculator()).render());
});
  </script>


<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29887834-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
