  <!-- Footer -->

  <footer class="row">
  <div class="twelve columns"><hr />
      <div class="row">

        <div class="six columns">
            <p>&copy; Copyright no one at all. Go to town.</p>
        </div>

        <div class="six columns">
            <ul class="link-list right">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
            </ul>
        </div>

      </div>
  </div>
  </footer>

  <!-- End Footer -->


  <!-- foundation includes jQuerys -->
  <script src="javascripts/foundation.min.js"></script>
  <!-- Initialize JS Plugins -->
  <script src="javascripts/app.js"></script>

  <script src="google-code-prettify/prettify.js"></script>
  <script type="text/javascript">
    $(function(){
      prettyPrint();
    });
  </script>

</body>
</html>
