  <!-- Footer -->

  <footer class="row">
  <div class="twelve columns"><hr />
      <div class="row">

        <div class="six columns">
            <p>&copy; Copyright mininiss</p>
        </div>
        <div class="two columns last">
          <a href="credits.html">powered by...</a>
        </div>
      </div>
  </div>
  </footer>

  <!-- End Footer -->


  <!-- foundation includes jQuerys -->
  <script src="javascripts/foundation.min.js"></script>
  <!-- Initialize JS Plugins -->
  <!-- loading js gives an error (not easy to debug). not using any js anyway-->
  <!-- <script src="javascripts/app.js"></script> -->

  <script src="google-code-prettify/prettify.js"></script>
  <script src="components/polymer-platform.js"></script>
  <script src="src/hoe.js"></script>

  <script id="counter-code">
hoe.init(); // create DOM helper functions

var Counter = hoe.Component('hoe-counter', function(args){
    // some data
    args = args || {};
    if (args['initial-value']){
       this.sum = parseInt(args['initial-value']);
    } else {
       this.sum = 0;
    }
    // reference to UI elements
    this.$sum = null;
    this.render();
});

// create Element from HTML text
Counter.from_html = function(){
  return {'initial-value': this.getAttribute('intial-value')};
};

// create UI
Counter.render = function(){
   var $plus_one = button(null, '+1');
   this.listen($plus_one, 'click', this.add_one);
   this.$sum = strong({style: "margin-left:5px"}, this.sum.toString());
   hoe.html(this, $plus_one, this.$sum);
};

// logic - event handler
Counter.add_one = function(){
   // update data
   this.sum += 1;
   // update UI
   hoe.html(this.$sum, this.sum);
};
</script>

<script type="text/javascript">
  $(document).ready(function(){
     $('#counter-pre').text($('#counter-code').text());
     prettyPrint();
  });
</script>


<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29887834-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
